<!-- เนื้อหาหน้า 404 -->
<div class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 flex items-center justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16">
  <!-- ส่วนเนื้อหา -->
  <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
    <div class="relative">
      <!-- ข้อความ -->
      <div class="absolute">
        <div class="">
          <h1 class="my-2 text-gray-800 font-bold text-2xl">
            ขออภัย, เราไม่พบหน้าที่คุณต้องการ
          </h1>
          <p class="my-2 text-gray-800">กรุณากลับไปที่หน้าแรกของเราเพื่อค้นหาข้อมูล</p>
          <button [routerLink]="''" class="sm:w-full lg:w-auto my-2 border rounded-md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">ไปหน้าแรก</button>
        </div>
      </div>
      <!-- รูปภาพ -->
      <div>
        <img alt="รูปภาพ 404" src="https://i.ibb.co/G9DC8S0/404-2.png" />
      </div>
    </div>
  </div>
  <!-- รูปภาพอื่นๆ -->
  <div>
    <img alt="รูปภาพกลุ่ม" src="https://i.ibb.co/ck1SGFJ/Group.png" />
  </div>
</div>
