
<div aria-labelledby="modal-title" aria-modal="true" class="relative z-10" role="dialog">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!-- component -->
      <!-- comment form -->
      <div class="flex mx-auto items-center justify-center shadow-lg  mb-4 max-w-lg">
        <div class="w-full max-w-xl bg-white rounded-lg px-4 pt-2">
          <div class="flex flex-wrap -mx-3 mb-6">
            <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">แสดงความคิดเห็น</h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
              <textarea [formControl]="inputFormControl" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='ป้อนความคิดเห็น' required></textarea>
            </div>
            <div class="w-full md:w-full flex items-start  px-3">
              <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
<!--                <svg class="w-5 h-5 text-gray-600 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">-->
<!--                  <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>-->
<!--                </svg>-->
                <!--                  <p class="text-xs md:text-sm pt-px">Some HTML is okay.</p>-->
              </div>
              <div class="-mr-1">
                <button (click)="cancel.emit()" class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"> ยกเลิก </button>
                <button (click)="submit.emit()" class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"> อนุมัติ </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">-->
      <!--          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">-->
      <!--            <div class="sm:flex sm:items-start">-->
      <!--&lt;!&ndash;              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">&ndash;&gt;-->
      <!--&lt;!&ndash;                <svg aria-hidden="true" class="h-6 w-6 text-red-600" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">&ndash;&gt;-->
      <!--&lt;!&ndash;                  <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" stroke-linecap="round" stroke-linejoin="round" />&ndash;&gt;-->
      <!--&lt;!&ndash;                </svg>&ndash;&gt;-->
      <!--&lt;!&ndash;              </div>&ndash;&gt;-->
      <!--              <div class="mt-3 w-full text-center sm:ml-4 sm:mt-0 sm:text-left">-->
      <!--                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">แสดงความคิดเห็น</h3>-->
      <!--                <div class="mt-2 text-sm w-full text-gray-500">-->
      <!--                  <textarea class="w-full shadow" id="" name=""></textarea>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">-->
      <!--            <button (click)="toggleBtnApprove = false" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" type="button">ยกเลิก</button>-->
      <!--            <button (click)="approve()"  class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" type="button">อนุมัติ</button>-->
      <!--          </div>-->
      <!--        </div>-->
    </div>
  </div>
</div>
<!--&lt;!&ndash; component &ndash;&gt;-->
<!--&lt;!&ndash; comment form &ndash;&gt;-->
<!--<div class="flex mx-auto items-center justify-center shadow-lg mt-56 mx-8 mb-4 max-w-lg">-->
<!--  <form class="w-full max-w-xl bg-white rounded-lg px-4 pt-2">-->
<!--    <div class="flex flex-wrap -mx-3 mb-6">-->
<!--      <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>-->
<!--      <div class="w-full md:w-full px-3 mb-2 mt-2">-->
<!--        <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>-->
<!--      </div>-->
<!--      <div class="w-full md:w-full flex items-start md:w-full px-3">-->
<!--        <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">-->
<!--          <svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>-->
<!--          </svg>-->
<!--          <p class="text-xs md:text-sm pt-px">Some HTML is okay.</p>-->
<!--        </div>-->
<!--        <div class="-mr-1">-->
<!--          <input type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='Post Comment'>-->
<!--        </div>-->
<!--      </div>-->
<!--  </form>-->
<!--</div>-->
<!--</div>-->



