<div class="flex flex-col items-center justify-center gap-2 rounded-lg bg-background p-8 text-center shadow-sm">
  <h1 class="text-4xl font-bold text-foreground">ERROR 404 !</h1>
  <p class="text-base text-muted-foreground">
    เราไม่สามารถหาหน้านี้ได้ คุณสามารถกลับไปยังหน้าก่อนหน้าหรือไปยังหน้าแรกได้
  </p>
  <a href="/"> <app-button impact="bold" tone="primary" shape="rounded" size="medium"> หน้าแรก</app-button> </a>
  <svg-icon src="./assets/illustrations/falling.svg" svgClass="w-[300px] h-[300px] text-primary "></svg-icon>
</div>
