<div *ngIf="isLoading | async" [@fadeAnimation] class="loading-area">
  <div class="fixed flex justify-center items-center w-full h-screen bg-white z-50 duration-300">
    <svg class="w-48 h-auto duration-300" id="L5" viewBox="0 0 100 100" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
      <circle cx="6" cy="50" fill="#00d1b2" r="6" stroke="none"> <animateTransform attributeName="transform" begin="0.1" dur="1s" repeatCount="indefinite" type="translate" values="0 15 ; 0 -15; 0 15"/> </circle>
      <circle cx="30" cy="50" fill="#00d1b2" r="6" stroke="none"> <animateTransform attributeName="transform" begin="0.2" dur="1s" repeatCount="indefinite" type="translate" values="0 10 ; 0 -10; 0 10"/> </circle>
      <circle cx="54" cy="50" fill="#00d1b2" r="6" stroke="none"> <animateTransform attributeName="transform" begin="0.3" dur="1s" repeatCount="indefinite" type="translate" values="0 5 ; 0 -5; 0 5"/> </circle>
    </svg>
  </div>
</div>
