<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <app-header></app-header>
  <h2 class="text-md  font-semibold text-gray-900 dark:text-night-50 ms-3">แบบฟอร์มขออนุมัติโครงการ</h2>
  <form [formGroup]="form" class="mt-4">
    <app-input
      class="flex flex-col p-3 pt-1 my-2 bg-white w-full dark:bg-night-700 rounded-lg shadow dark:shadow-night-900 text-gray-900 dark:text-night-50 "
      [inputFormControl]="form.get(['projectDetail','projectName'])" [label]="'ชื่อโครงการ'"
      [placeholder]="' '"></app-input>
    <div class="flex flex-col p-3 pt-1 my-2 bg-white w-full dark:bg-night-700 rounded-lg shadow dark:shadow-night-900 text-gray-900 dark:text-night-50">
      <label class="block my-2 text-gray-800 dark:text-night-200">ชื่อกลุ่มกิจกรรมนิสิตที่รับผิดชอบโครงการ</label>
      <input  type="text" [disabled]="true" [value]="form.get(['projectDetail','activityGroupName'])?.value" class="border rounded-lg w-full py-3 ps-4 text-lg">
    </div>
    <app-responsible-students [form]="getFormArray('responsibleStudents')"></app-responsible-students>
    <app-project-advisor [form]="getFormArray('projectAdvisors')"></app-project-advisor>
    <div class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900">
      <label class="block mb-2 text-gray-900 dark:text-night-50 ">ประเภทกิจกรรมพัฒนานิสิตนอกชั้นเรียน
        (กรณีขอเทียบกิจกรรมพัฒนานิสิตนอกชั้นเรียน โปรดระบุ)</label>
      <div class="ms-5" *ngFor="let tsuTalent of tsuTalents">
        <label class="block mb-2 text-gray-800 dark:text-night-200 ">{{ tsuTalent.name }}</label>
        <div class="ms-6" *ngFor="let detail of tsuTalent.talent_details; index as i">
          <input type="checkbox" (click)="setTsuTalent(detail.id, i)"
                 class="bg-white hover:bg-primary-200 w-5 h-5s checked:bg-primary-500"/>
          <label class="ml-3 text-gray-900 dark:text-night-50">{{ detail.name }}</label>
        </div>
      </div>
    </div>
    <div
      class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900">
      <label class="block mb-2 text-gray-900 dark:text-night-50 ">ความสอดคล้องกับยุทธศาสตร์ของมหาวิทยาลัย</label>
      <div class="ms-6" *ngFor="let strategic of strategicTalents; index as i">
        <input type="checkbox" (click)="setStrategic(strategic.id)"
               class="bg-white hover:bg-primary-200 w-5 h-5s checked:bg-primary-500"/>
        <label class="ml-3 text-gray-400 dark:text-night-300">{{ strategic.name }}</label>
      </div>
    </div>
    <app-input
      class="flex flex-col p-3 pt-1 my-2 bg-white w-full dark:bg-night-700 rounded-lg shadow dark:shadow-night-900"
      [inputFormControl]="form.get(['projectDetail','background'])" [label]="'หลักการและเหตุผล'"
      [placeholder]="' '"></app-input>

    <div class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900">
      <div class="flex justify-between">
        <label class="block mb-2 text-gray-900 dark:text-night-50 ">วัตถุประสงค์ของโครงการ (จัดเพื่ออะไร)</label>
        <button (click)="getFormArray('objectives').push(newFormControl(''))"
                class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
          เพิ่ม
        </button>
      </div>
      <div *ngFor="let  pIndex of getIndexArray(getFormArray('objectives').controls)">
        <div class="w-full relative">
          <div class=" gap-2 relative">
            <app-input [inputFormControl]="getFormArray('objectives').controls.at(pIndex)" [placeholder]="' '"
                       class="w-full"></app-input>
            <span (click)="getFormArray('objectives').removeAt(pIndex)"
                  class=" cursor-pointer absolute  inset-y-0 end-0 grid w-10  place-content-center  text-gray-500 ">
                <svg-icon src="assets/icons/heroicons/outline/x.svg"
                          [svgClass]="'h-8 w-8 mr-3 text-night-700 hover:text-red-700'"></svg-icon>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900">
      <div class="flex justify-between">
        <label class="block mb-2 text-gray-900 dark:text-night-50">รูปแบบกิจกรรม</label>
        <button (click)="getFormArray('activityFormats').push(newFormControl(''))"
                class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
          เพิ่ม
        </button>
      </div>
      <div *ngFor="let  pIndex of getIndexArray(getFormArray('activityFormats').controls)">
        <div class="w-full relative">
          <div class=" gap-2 relative">
            <app-input [inputFormControl]="getFormArray('activityFormats').controls.at(pIndex)" [placeholder]="' '"
                       class="w-full"></app-input>
            <span (click)="getFormArray('activityFormats').removeAt(pIndex)"
                  class=" cursor-pointer absolute  inset-y-0 end-0 grid w-10  place-content-center  text-gray-500 ">
                <svg-icon src="assets/icons/heroicons/outline/x.svg"
                          [svgClass]="'h-8 w-8 mr-3 text-night-700 hover:text-red-700'"></svg-icon>
              </span>
          </div>
        </div>
      </div>
    </div>

    <app-input class="flex flex-col p-3 pt-1 my-2 bg-white w-full dark:bg-night-700 rounded-lg shadow dark:shadow-night-900" [inputFormControl]="form.get(['projectDetail','location'])" [label]="'สถานที่ปฏิบัติงาน (ระบุชื่อ สถานที่ ตำบล อำเภอ จังหวัด)'" [placeholder]="' '"></app-input>
    <div class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900 z-10">
      <label class="block mb-2 text-gray-900 dark:text-night-50">ระยะเวลาการปฏิบัติงาน</label>
      <div class="flex gap-6 pt-4 px-4 w-full mx-auto z-30">
        <app-datepicker [disable]="true" [inputFormControl]="form.get(['projectDetail','durationStart'])" [label]="'วันเริ่มต้นโครงการ'" [lang]="'th'" class="w-full"></app-datepicker>
        <p class="self-center"> - </p>
        <app-datepicker [disable]="true" [inputFormControl]="form.get(['projectDetail','durationEnd'])" [label]="'วันสิ้นสุดโครงการ'" [lang]="'th'" class="w-full"></app-datepicker>
      </div>
    </div>
    <div
      class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900 z-0">
      <div class="flex justify-between">
        <label class="block mb-2 text-gray-900 dark:text-night-50">วิธีการดำเนินงาน</label>
        <button (click)="getFormArray('operations').push(newFormControl(''))"
                class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
          เพิ่ม
        </button>
      </div>
      <div *ngFor="let  pIndex of getIndexArray(getFormArray('operations').controls)">
        <div class="w-full relative">
          <div class=" gap-2 relative">
            <app-input [inputFormControl]="getFormArray('operations').controls.at(pIndex)" [placeholder]="' '"
                       class="w-full"></app-input>
            <span (click)="getFormArray('operations').removeAt(pIndex)"
                  class=" cursor-pointer absolute  inset-y-0 end-0 grid w-10  place-content-center  text-gray-500 ">
                <svg-icon src="assets/icons/heroicons/outline/x.svg"
                          [svgClass]="'h-8 w-8 mr-3 text-night-700 hover:text-red-700'"></svg-icon>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900">
      <div class="flex justify-between">
        <label class="block mb-2 text-gray-900 dark:text-night-50">ผลที่คาดว่าจะได้รับ</label>
        <button (click)="getFormArray('expectedResults').push(newFormControl(''))"
                class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
          เพิ่ม
        </button>
      </div>
      <div *ngFor="let  pIndex of getIndexArray(getFormArray('expectedResults').controls)">
        <div class="w-full relative">
          <div class=" gap-2 relative">
            <app-input [inputFormControl]="getFormArray('expectedResults').controls.at(pIndex)" [placeholder]="' '"
                       class="w-full"></app-input>
            <span (click)="getFormArray('expectedResults').removeAt(pIndex)"
                  class=" cursor-pointer absolute  inset-y-0 end-0 grid w-10  place-content-center  text-gray-500 ">
                <svg-icon src="assets/icons/heroicons/outline/x.svg"
                          [svgClass]="'h-8 w-8 mr-3 text-night-700 hover:text-red-700'"></svg-icon>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="my-2 relative bg-white dark:bg-night-700 border dark:border-night-700 p-4 rounded-lg shadow dark:shadow-night-900">
      <div class="flex justify-between">
        <label class="block mb-2 text-gray-900 dark:text-night-50">วิธีการติดตามประเมินผล</label>
        <button (click)="getFormArray('evaluates').push(newFormControl(''))"
                class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
          เพิ่ม
        </button>
      </div>
      <div *ngFor="let  pIndex of getIndexArray(getFormArray('evaluates').controls)">
        <div class="w-full relative">
          <div class=" gap-2 relative">
            <app-input [inputFormControl]="getFormArray('evaluates').controls.at(pIndex)" [placeholder]="' '"
                       class="w-full"></app-input>
            <span (click)="getFormArray('evaluates').removeAt(pIndex)"
                  class=" cursor-pointer absolute  inset-y-0 end-0 grid w-10  place-content-center  text-gray-500 ">
                <svg-icon src="assets/icons/heroicons/outline/x.svg"
                          [svgClass]="'h-8 w-8 mr-3 text-night-700 hover:text-red-700'"></svg-icon>
              </span>
          </div>
        </div>
      </div>
    </div>


    <div class="flex justify-end mt-4">
      <button (click)="onSubmit()"
              class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
        เสนอโครงการ
      </button>
    </div>
  </form>
</div>
<!--</div>-->
