<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <app-header></app-header>

  <div class="max-w-4xl mx-auto px-4 py-8">
    <div class="flex justify-center">
      <div class="bg-white shadow-md rounded-lg h-auto" style="width: 794px;">
        <div id="print-section" class="p-10">
          <app-delivery-note></app-delivery-note>
          <app-project-request-form [data]="projectData"></app-project-request-form>
        </div>
      </div>
    </div>
    <div *ngIf="false" class="flex justify-center mt-4">
      <button (click)="printSection()" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
        Print
      </button>
    </div>
    <!-- comment form -->
    <div class="flex items-center justify-center shadow-lg  my-4" *ngIf="this.route.snapshot.data['role'] != 'responsible'">
      <form class="w-full  bg-white rounded-lg px-4 pt-2">
        <div class="flex flex-wrap -mx-3 mb-6">
          <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">แสดงความคิดเห็น</h2>
          <div class="w-full md:w-full px-3 mb-2 mt-2">
            <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='ความคิดเห็น'
                      required></textarea>
          </div>
          <div class="w-full flex items-start md:w-full px-3">
            <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
            </div>
            <div class="flex gap-2">
              <app-button (click)="onSubmit(false)" full impact="bold" tone="danger" shape="rounded" size="medium">ส่งกลับเพื่อแก้ไข</app-button>
              <app-button (click)="onSubmit(true)" full impact="bold" tone="primary" shape="rounded" size="medium">เห็นชอบ</app-button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="p-5 w-40" *ngIf="this.route.snapshot.data['role'] == 'responsible'">
      <app-button (click)="back()" full impact="bold" tone="light" shape="rounded" size="medium">กลับ</app-button>
    </div>
  </div>
</div>
