<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <app-header></app-header>

  <div class="max-w-4xl mx-auto px-4 py-8">
    <div class="flex justify-center">
      <div class="bg-white shadow-md rounded-lg h-auto" style="width: 794px;">
        <div id="print-section" class="p-10">
          <h1 class="text-xl text-center font-bold mb-6">แบบขออนุมัติโครงการกิจกรรมนิสิต</h1>

          <div class="mb-4 flex gap-2">
            <h2 class="font-bold">1. ชื่อโครงการ</h2>
            <p>{{ projectData?.projectDetail?.projectName || '........................................................................................' }}</p>
          </div>

          <div class="mb-4 flex gap-2">
            <h2 class="font-bold">2. ชื่อกลุ่มกิจกรรมนิสิตที่รับผิดชอบโครงการ</h2>
            <p>{{ projectData?.projectDetail?.activityGroupName || '........................................................................................' }}</p>
          </div>

          <div class="mb-4 w-fit">
            <h2 class="font-bold">3. รายชื่อนิสิตผู้รับผิดชอบโครงการ</h2>
            <div class="ml-9">
              <ng-container *ngFor="let obj of projectData?.projectDetail?.responsibleStudents; let i = index">
                <p class="flex gap-4 items-center">3.{{ i + 1 }} {{ obj.user.student.name }}
                  <span class="ml-auto">รหัสประจำตัวนิสิต {{ obj.studentId }}</span>
                  <span class="ml-auto">หมายเลขโทรศัพท์ {{ obj.user.student.phoneNumber }}</span>
                </p>
              </ng-container>
            </div>
          </div>

          <div class="mb-4 w-fit">
            <h2 class="font-bold">4. รายชื่อที่ปรึกษาโครงการ</h2>
            <div class="ml-9" *ngFor="let obj of projectData?.projectDetail?.projectAdvisors; let i = index">
              <p class="flex gap-4 items-center">4.{{ i + 1 }} {{ obj.user.advisor.name }}
                <span class="ml-auto">หมายเลขโทรศัพท์ {{ obj.user.advisor.phoneNumber }}</span>
              </p>
            </div>
          </div>


          <div class="mb-4">
            <p class="flex font-bold"><span>5.</span><span>ประเภทกิจกรรมพัฒนานิสิตนอกชั้นเรียน (กรณีขอเทียบกิจกรรมพัฒนานิสิตนอกชั้นเรียน โปรดระบุ)</span></p>
            <div class="ml-9">
              <p class="font-bold">TSU Glocal Talent</p>
              <ul class="ml-9">

                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('1')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('1')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กลุ่มกิจกรรมเกี่ยวกับการคิด วิจารณญาณ และการแก้ปัญหา</span>
                </li>

                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('2')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('2')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กลุ่มกิจกรรมเกี่ยวกับการบริหารจัดการตนเอง</span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('3')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('3')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กลุ่มกิจกรรมเกี่ยวกับการทำงานร่วมกับผู้อื่น</span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('4')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('4')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กลุ่มกิจกรรมเกี่ยวกับความรู้ ความเข้าใจ และการใช้เทคโนโลยีดิจิทัล</span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('5')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('5')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กลุ่มกิจกรรม TSU Good ได้แก่ กิจกรรมจิตอาสา บำเพ็ญประโยชน์ และสิ่งแวดล้อม<</span>
                </li>
              </ul>
              <p class="font-bold">TSU Communication Talent</p>
              <ul class="ml-9">
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('6')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('6')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กิจกรรมเกี่ยวกับการใช้ภาษาเพื่อการสื่อสารในชีวิตประจำวัน</span>
                </li>
              </ul>
              <p class="font-bold">กิจกรรม TSU Social Innovation/Entrepreneurship Talent</p>
              <ul class="ml-9">
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('7')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('7')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กลุ่มกิจกรรมด้านการสร้างนวัตกรรมสังคม</span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('8')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.tsuTalent?.tsuTalentDetailId)?.includes('8')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กลุ่มกิจกรรมด้านการเป็นผู้ประกอบการ</span></li>
              </ul>
            </div>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">6. ความสอดคล้องกับยุทธศาสตร์ของมหาวิทยาลัย</h2>
            <div class="ml-9">
              <ul>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('1')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('1')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กิจกรรมเสริมสร้างนิสิตให้มีคุณลักษณะตามอัตลักษณ์ของมหาวิทยาลัย</span></li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('2')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('2')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กิจกรรมพัฒนานิสิตให้มีทักษะการเรียนรู้ในศตวรรษที่ 21</span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('3')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('3')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กิจกรรมนิสิตระหว่างประเทศ</span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('4')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('4')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กิจกรรมพหุวัฒนธรรม ศิลปวัฒนธรรม และแลกเปลี่ยนวัฒนธรรม</span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('5')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('5')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กิจกรรมกีฬา นันทนาการ และสุขภาพ </span>
                </li>
                <li>
                  <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('6')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                  <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('6')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                  <span class="ml-2">กิจกรรมจิตอาสาทั้งภายในและชุมชนโดยรอบมหาวิทยาลัยทักษิณ</span></li>
              </ul>
            </div>
          </div>

          <!--          <div class="mb-4">-->
          <!--            <h2 class="font-bold">7. ความสอดคล้องกับการพัฒนาอัตลักษณ์นิสิต</h2>-->
          <!--            <div>-->
          <!--              <p>เสริมสร้างอัตลักษณ์นิสิต จำนวน............ด้าน ดังนี้</p>-->
          <!--              <ul>-->
          <!--                <li> รับผิดชอบ</li>-->
          <!--                <li> การบริหารจัดการตนเอง</li>-->
          <!--                <li> การมีจิตสำนึกและตระหนักในการเป็นพลเมืองไทยและพลเมืองโลก</li>-->
          <!--                <li> รอบรู้</li>-->
          <!--                <li> สู้งาน</li>-->
          <!--                <li> มีประสบการณ์เชิงปฏิบัติ</li>-->
          <!--              </ul>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="my-4">
            <h3 class="font-bold">ความสอดคล้องกับการพัฒนาอัตลักษณ์นิสิต</h3>
            <p>เสริมสร้างอัตลักษณ์นิสิต จำนวน............ด้าน ดังนี้</p>
            <div class="ml-9">
              <input *ngIf="hasCommonElement(projectData?.projectDetail?.congruenceIdentity?.congruenceIdentityDetailId,['1', '2', '3'])" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
              <input *ngIf="!hasCommonElement(projectData?.projectDetail?.congruenceIdentity?.congruenceIdentityDetailId,['1', '2', '3'])" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
              <label class="ml-2 font-semibold">รับผิดชอบ</label>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('1')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('1')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">การรับผิดชอบต่อหน้าที่</label>
              </div>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('2')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('2')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">การบริหารจัดการตนเอง</label>
              </div>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('3')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('3')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">การมีจิตสำนึกและตระหนักในการเป็นพลเมืองไทยและพลเมืองโลก</label>
              </div>
            </div>
            <div class="ms-9">
              <input *ngIf="hasCommonElement(projectData?.projectDetail?.congruenceIdentity?.congruenceIdentityDetailId,['4', '5', '6', '7'])" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
              <input *ngIf="!hasCommonElement(projectData?.projectDetail?.congruenceIdentity?.congruenceIdentityDetailId,['4', '5', '6', '7'])" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
              <label class="ml-2 font-semibold">รอบรู้</label>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('4')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('4')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">การมีรู้ ทักษะ ความสามารถตามบริบทของอาชีพ</label>
              </div>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('5')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('5')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">มีความรู้ ความเข้าใจ และทักษะการใช้เทคโนโลยีดิจิทัลและเครื่องมือสื่อสารอย่างเหมาะสม</label>
              </div>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('6')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('6')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">ความสามารถใช้ภาษาไทยและภาษาต่างประเทศเพื่อการสื่อสาร</label>
              </div>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('7')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('7')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">มีทักษะการเรียนรู้ การไม่ยึดติดกับสิ่งที่เคยเรียนรู้มา และการเรียนรู้สิ่งที่เคยรู้ด้วยมุมมองใหม่ตลอดชีวิต</label>
              </div>
            </div>
            <div class="ms-9">
              <input *ngIf="hasCommonElement(projectData?.projectDetail?.congruenceIdentity?.congruenceIdentityDetailId,['8', '9', '10'])" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
              <input *ngIf="!hasCommonElement(projectData?.projectDetail?.congruenceIdentity?.congruenceIdentityDetailId,['8', '9', '10'])" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
              <label class="ml-2 font-semibold">สู้งาน</label>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('8')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('8')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">การมีความมุ่งมั่น อดทนเพื่อทำงานที่ท้าทายโดยไม่ล้มเลิก</label>
              </div>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('9')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('9')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">มีความสามารถในการปรับตัวและยืดหยุ่น</label>
              </div>
              <div class="ml-9">
                <input *ngIf="String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('10')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" checked disabled>
                <input *ngIf="!String(projectData?.projectDetail?.strategicTalent?.strategicTalentDetailId)?.includes('10')" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" disabled>
                <label class="ml-9">ทำงานเป็นทีม ความร่วมมือ การเป็นผู้นำการเปลี่ยนแปลง</label>
              </div>
            </div>
          </div>


          <div class="mb-4">
            <h2 class="font-bold">8. หลักการและเหตุผล</h2>
            <p class="ml-9"> {{ projectData?.projectDetail?.background }}</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">9. วัตถุประสงค์ของโครงการ</h2>
            <p class="ml-9" *ngFor="let objective of projectData?.projectDetail?.objectives; index as i">9.{{ i + 1 }} {{ objective }}</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">10. รูปแบบกิจกรรม</h2>
            <p class="ml-9" *ngFor="let activityFormat of projectData?.projectDetail?.activityFormats; index as i">10.{{ i + 1 }} {{ activityFormat }}</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">11. ผู้เข้าร่วมโครงการ</h2>
            <div class="ml-9">
              <p>11.1 ที่ปรึกษา ชาย ... คน</p>
              <p>11.2 นิสิต ... คน</p>
              <p>11.3 อื่น ๆ ... คน</p>
              <p>รวม ... คน</p>
            </div>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">12. สถานที่ปฏิบัติงาน</h2>
            <p class="ml-9">{{ projectData?.projectDetail?.location || '....................................................................................................................................................' }}</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">13. ระยะเวลาการปฏิบัติงาน</h2>
            <p class="ml-9">{{ projectData?.projectDetail?.duration || '....................................................................................................................................................' }}</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">14. วิธีการดำเนินงาน</h2>
            <p class="ml-9" *ngFor="let method of projectData?.projectDetail?.operations; index as i">14.{{ i + 1 }} {{ method }}</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">15. งบประมาณ</h2>
            <table class="w-full rounded-2xl">
              <thead class="rounded-2xl">
              <tr class="border-b bg-gray-50 text-sm text-gray-600">
                <th class="py-3 px-6 text-center rounded-tl-lg">รายการ</th>
                <th class="py-3 px-6 text-center rounded-tr-lg">จำนวนเงิน (บาท)</th>
              </tr>
              </thead>
              <tbody class="text-sm font-light">
              <ng-container>
                <tr class="bg-gray-100">
                  <td colspan="2" class="py-3 px-6 text-left whitespace-nowrap bg-blue-50">
                    <div class="flex justify-between">
                      <p class="align-middle self-center font-semibold text-gray-800">15.1 หมวดค่าใช้สอย</p>
                    </div>
                  </td>
                </tr>
                <tr [ngClass]="{'hover:bg-gray-50 group': true, 'border-b border-dashed border-gray-300': !last}" *ngFor="let cDetail of projectData?.projectDetail?.budget?.costDetails; index as i let last = last">
                  <td class="py-3 px-12 flex">
                    <span class="self-center">15.1.{{ i + 1 }}</span>
                    <span class="ml-3 w-full"> {{ cDetail }} </span>
                  </td>
                  <td class="py-3 px-6 text-right">
                    <div class="w-full flex gap-4">
                      {{ projectData!.projectDetail.budget.costAmounts[i] }}
                    </div>
                  </td>
                </tr>
                <tr class="bg-gray-100">
                  <td colspan="2" class="py-3 px-6 text-left whitespace-nowrap bg-blue-50">
                    <div class="flex justify-between">
                      <p class="align-middle self-center font-semibold text-gray-800">15.2 หมวดค่าตอบแทน</p>
                    </div>
                  </td>
                </tr>
                <tr [ngClass]="{'hover:bg-gray-50 group': true, 'border-b border-dashed border-gray-300': !last}" *ngFor="let rDetail of projectData?.projectDetail?.budget?.remunerationDetails; index as i let last = last">
                  <td class="py-3 px-12 flex">
                    <span class="self-center">15.2.{{ i + 1 }}</span>
                    <span class="ml-3 w-full"> {{ rDetail }} </span>
                  </td>
                  <td class="py-3 px-6 text-right">
                    <div class="w-full flex gap-4">
                      {{ projectData!.projectDetail.budget.remunerationAmounts[i] }}
                    </div>
                  </td>
                </tr>
                <tr class="bg-gray-100">
                  <td colspan="2" class="py-3 px-6 text-left whitespace-nowrap bg-blue-50">
                    <div class="flex justify-between">
                      <p class="align-middle self-center font-semibold text-gray-800">15.3 หมวดค่าวัสดุอุปกรณ์</p>
                    </div>
                  </td>
                </tr>
                <tr [ngClass]="{'hover:bg-gray-50 group': true, 'border-b border-dashed border-gray-300': !last}" *ngFor="let eDetail of projectData?.projectDetail?.budget?.equipmentCostDetails; index as i let last = last">
                  <td class="py-3 px-12 flex">
                    <span class="self-center">15.3.{{ i + 1 }}</span>
                    <span class="ml-3 w-full"> {{ eDetail }} </span>
                  </td>
                  <td class="py-3 px-6 text-right">
                    <div class="w-full flex gap-4">
                      {{ projectData!.projectDetail.budget.equipmentCostAmounts[i] }}
                    </div>
                  </td>
                </tr>
              </ng-container>
              <tr class="bg-gray-100">
                <td colspan="2" class="py-3 px-6 text-left whitespace-nowrap bg-blue-50"><p class="align-middle self-center font-semibold text-gray-800">15.4.ค่าอื่น ๆ</p></td>
              </tr>
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-12">
                  <span class="self-center">15.4.1 ค่าอื่นๆ </span>
                </td>
                <td class="py-3 px-6 text-right">
                  <div class="w-full flex gap-4">
                    {{ projectData?.projectDetail?.budget?.other }}
                  </div>
                </td>
              </tr>
              <tr class="bg-gray-200 font-bold text-gray-700 ">
                <td class="py-3 px-6 text-center rounded-bl-lg">รวม</td>
                <td class="py-3 text-center rounded-br-lg">{{ total() }} &nbsp; &nbsp; &nbsp; บาท</td>
              </tr>
              </tbody>
            </table>

            <p>หมายเหตุ ขอถัวจ่ายทุกรายการ</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">16. ผลที่คาดว่าจะได้รับ</h2>
            <p class="ml-9" *ngFor="let result of projectData?.projectDetail?.expectedResults; index as i">16.{{ i + 1 }} {{ result }}</p>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">17. เป้าหมาย / ตัวบ่งชี้ความสำเร็จ</h2>
            <div class="ml-9">
              <h3 class="font-bold">ด้านปริมาณ</h3>
              <div class="ml-9">
                <p>17. ...</p>
              </div>
              <h3 class="font-bold">ด้านคุณภาพ</h3>
              <div>
                <p class="ml-9">17. ...</p>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <h2 class="font-bold">18. วิธีการติดตามประเมินผล</h2>
            <p class="ml-9" *ngFor="let result of projectData?.projectDetail?.evaluates; index as i">18.{{ i + 1 }} {{ result }}</p>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="false" class="flex justify-center mt-4">
      <button (click)="printSection()" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
        Print
      </button>
    </div>
    <!-- comment form -->
    <div class="flex items-center justify-center shadow-lg  my-4 ">
      <form class="w-full  bg-white rounded-lg px-4 pt-2">
        <div class="flex flex-wrap -mx-3 mb-6">
          <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">แสดงความคิดเห็น</h2>
          <div class="w-full md:w-full px-3 mb-2 mt-2">
            <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='ความคิดเห็น' required></textarea>
          </div>
          <div class="w-full flex items-start md:w-full px-3">
            <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
            </div>
            <div class="flex gap-2">
              <app-button (click)="onSubmit(false)" full impact="bold" tone="danger" shape="rounded" size="medium">ส่งกลับเพื่อแก้ไข</app-button>
              <app-button (click)="onSubmit(true)" full impact="bold" tone="primary" shape="rounded" size="medium">เห็นชอบ</app-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
