/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities
.bg-lightPrimary
  background-color: #f4f7fe

@font-face
  font-family: 'DM sans'
  src: url("/assets/fonts/DM Sans.ttf") format('truetype')
  font-weight: auto
  font-style: auto
body
  background-color: #f4f7fe
  font-family: "DM sans", sans-serif
